.panel {
  grid-area: side;

  background: #003b72;
}
.container {
  height: 100%;
  padding: 0 20px;
}
.inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100%;
}
.logo {
  display: flex;
  align-items: center;

  height: 55px;
}
.logo img {
  height: 17px;
}
.nav {
  flex: 1 1 auto;
}
.navList {
  margin-bottom: 10px;
}
.footer {
}
.help {
  position: relative;
  padding: 15px 10px 14px 32px;

  font-size: 14px;
  line-height: 17px;
  color: #ffffff;

  cursor: pointer;
}
.help::before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 18px;
  height: 18px;

  background-image: url(../../assets/images/help.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  transform: translateY(-50%);
  content: "";
}
.appVelox {
  padding: 4px 0 16px;
}
