.visitCard {
  position: relative;

  width: 475px;
  margin-right: 20px;
  margin-bottom: 15px;
  padding: 20px;

  background: #ffffff;
  box-shadow: 0px 0px 5px #ebe7ff;
  border-radius: 5px;
}
.visitCard:last-child {
  margin-right: 0;
}
.date {
  margin-bottom: 5px;

  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
.address {
  max-width: 280px;
  margin-bottom: 10px;

  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}
.doctor {
  display: flex;
  align-items: center;
}
.photo {
  margin-right: 10px;

  border-radius: 50%;
}
.descr {
}
.name {
  margin-bottom: 4px;

  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}
.department {
  font-size: 14px;
  line-height: 17px;
  color: #ebe7ff;
}
.btnWrapper {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
